body {
  font-size: 16pt;
  padding:0;
  margin:0;
  padding-top: 80px;
}
* {
  font-size: 16pt;
  user-select: none !important;
}

.hidden {display:none;}
.error {font-weight:bold; color: red;}

fieldset {
  border: 1px solid #CCC;
  border-radius: 5px;
  min-height: 80px;
  margin-top: 10px;
}

fieldset > legend {
  opacity: 0.55;
  font-style: italic;
  font-family: Helvetica;
  font-size: 17px;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
}

header {
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color:white;
  font: 32px Avenir Next;
  width: 100%;
}
header div#app-name {
  color: white;
  font: 32px Avenir Next;
  padding: 0.1em 1em;
}

footer {
  display:block;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  height:80px;
  color:black;
  background-color: #DDDDDD;
}

footer div#message {
  padding: 0.1em 1em;
  font: 12px Arial, Helvetica;
}

:root {
  --editor-width: 300px; 
}
/* Panneau d'édition du projet */
div#edit-panel {
  top: 0;
  height: calc(100% - 2em);
  width: var(--editor-width);
  right: 0;
  padding: 2em;
  position: fixed;
  z-index:100;
  background-color: #c4f4d5;
}
div#edit-panel.closed {
  right: calc(-1 * (var(--editor-width) + 100px));
}
div#edit-panel button.btn-close {
  position: absolute;
  right: 20px;
  bottom: 60px;
}
div#edit-panel fieldset.services {
  min-height: 12vh;
}

/* 
    --- Outils --- 
*/
div#tools {
  position: fixed;
  left: 0;
  bottom: 80px;
  width: 100%
}
div#tools button.btn-add-project {
  font-size: 1.5em;
}


/*

    --- CARTE PROJET ---

*/
div#project-cards {
  position: relative;
}
div.project-card {
  position: relative;
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 1em;
  width:  300px;
  padding: 1em;
  margin: 0 10px;
  min-height: 30vh;

}
div.project-card div.title {
  font-size: 1.2em;
}
div.project-card fieldset.services {
  background-color: transparent;
}