
div.eval-code-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
select.eval-code-lang {
  align-self: flex-end;
  width: calc(50% - 5px);
}
div.eval-code-container {
  display: flex;
  gap: 10px;
  height: 380px;
}
div.eval-code-container div.eval-code-result,
div.eval-code-container textarea.eval-code-input {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-size: 12pt;
  border: 1px solid rgb(208, 208, 208);
}
div.eval-code-container div.eval-code-result {
  white-space: pre-wrap;
  overflow-y: auto;
}
div.eval-code-container div.eval-code-result.error {
  color: red;
}

div.config-dialog-container {
  border: 1px solid #CCC;
}

div.config-dialog-container div.config-data-prop {
  display: flex;
  border-bottom: 1px solid #CCC;
  padding: 4px 8px;
}
div.config-dialog-container div.config-data-prop > span {
  font-family: "Arial Narrow";
  font-size: 14pt;
}

div.config-dialog-container div.config-data-prop span.config-data-name {
  flex: 1 0 240px; /* 0 0 240px ne fonctionne pas, sans description */
}
div.config-dialog-container div.config-data-prop span.config-data-desc {
  flex: 8;
}
div.config-dialog-container div.config-data-prop span.config-data-value {
  flex: 0 0 340px;
  text-align: right;
  cursor: pointer;
  border-left: 1px solid #CCC;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis "";
}