body {
  font-size: 16pt;
  padding:0;
  margin:0;
  padding-top: 80px;
}
* {
  font-size: 16pt;
  user-select: none !important;
}

.hidden {display:none;}
.invisible {visibility: hidden;}
.error {color: red; background-color: rgb(255, 230, 230);}

button {
  padding: 4px 32px;
  white-space: nowrap;
  margin: 0 10px;
}
fieldset {
  border: 1px solid #CCC;
  border-radius: 5px;
  min-height: 80px;
  margin-top: 10px;
}

fieldset > legend {
  opacity: 0.55;
  font-style: italic;
  font-family: Helvetica;
  font-size: 17px;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
}

header {
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color:white;
  font: 32px Avenir Next;
  width: 100%;
}
header div#app-name {
  color: white;
  font: 32px Avenir Next;
  padding: 0.1em 1em;
}

footer {
  display:block;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  height:80px;
  color:black;
  background-color: #DDDDDD;
}

footer div#message {
  padding: 8px 40px;
}
footer div#message > span {
  padding: 0.1em 1em;
  font: 20px Arial, Helvetica;
}
footer div#message > span.notice {
  color: rgb(13, 164, 13);
} 

/* 
    --- Outils --- 
*/
div#tools {
  position: fixed;
  left: 0;
  bottom: 80px;
  width: 100%
}
div#tools button.btn-add-project {
  font-size: 1.5em;
}