
/*

    --- CARTE PROJET ---

*/
div#projects {
  position: relative;
}
div.project {
  position: relative;
  display: inline-block;
  border: 2px solid #CCC;
  border-radius: 1em;
  width:  300px;
  padding: 1em;
  margin: 0 10px;
  min-height: 30vh;
  opacity: 0.8;
}
div.project.selected {
  opacity: 1;
  border-color: rgb(98, 154, 232);
}
div.project div.title {
  font-size: 1.2em;
}
div.project fieldset.services {
  background-color: transparent;
}
.project .path {
  font-size: 12px;
}
.project > .dates {
  text-align: right;
}
.project .dates > span {
  font-size: 14px;
  font-family: Georgia;
}
.project .worktime {
  font-size: 14px;
}