body {
  font-size: 16pt;
  padding:0;
  margin:0;
  padding-top: 80px;
}
* {
  font-size: 16pt;
}
header {
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color:white;
  font: 32px Avenir Next;
  width: 100%;
}
header div#app-name {
  color: white;
  font: 32px Avenir Next;
  padding: 0.1em 1em;
}

footer {
  display:block;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  height:80px;
  color:black;
  background-color: #DDDDDD;
}

footer div#message {
  padding: 0.1em 1em;
  font: 12px Arial, Helvetica;
}

:root {
  --editor-width: 300px; 
}
/* Panneau d'édition du projet */
div#edit-panel.opened {
  top: 0;
  height: calc(100% - 2em);
  width: var(--editor-width);
  padding: 2em;
  right: 0;
  position: fixed;
  z-index:100;
  background-color: #c4f4d5;
}
div#edit-panel.closed {
  right: -var(--editor-width);
}

/* --- Outils --- */
div#tools {
  position: fixed;
  left: 0;
  bottom: 80px;
  width: 100%
}
div#tools button.btn-add-project {
  font-size: 2em;
}